{
	"extends": "stylelint-config-default",
	"ignoreFiles": [
		"**/photon-colors.less"
	],
	"rules": {
		"indentation": "tab",
		"length-zero-no-unit": null,
		"max-line-length": 128,
		"max-nesting-depth": 8,
		"no-eol-whitespace": null,
		"number-leading-zero": null,
		"number-no-trailing-zeros": null,
		"order/properties-alphabetical-order": null,
		"property-no-vendor-prefix": null,
		"selector-list-comma-newline-after": null,
		"selector-max-specificity": null,
		"shorthand-property-no-redundant-values": null
	}
}
